/*Eventos*/
main#eventos {
  background-color: black;
}

[data-visibility = '1'] .main-banner {
    animation: fadeIn 1s ease-in-out;
}

.main-banner {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-banner h1 {
  margin-top: 1vw;
  color: white;
  font-weight: 300;
  font-size: 0.8vw;
  animation: pulsation 3s ease-in-out infinite;
}

/*Animations*/

@keyframes pulsation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}